:host {
    display: block;
    font-weight: normal;
    margin: 5px;
}

:host label {
    font-weight: normal;
}

:host .winner > label, :host label.winner {
    font-weight: bold;
}

:host .bordered {
    border-bottom: 1px solid #e3f2fd;
}